.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container > div {
    width: 978px;
    height: 995px;
    padding: 32px 24px 0px 24px;
    background: #FAFAFA;
    
}

@media screen and (max-width: 978px) {
    .container > div {
        width: 100%;
    }

    h1 {
        margin: 16px 0px 10px 16px;
    }
}

mat-radio-button {
    margin-right: 25px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #dc6b2f!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #dc6b2f;
}


