.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container > div {
    width: 978px;
    height: 995px;
    padding: 32px 24px 0px 24px;
    background: #FAFAFA;
}

h1 {
    color: #061B50;   
}

h2 {
    height: 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #061B50;
}

.container p {
    height: 24px;
    font-family: Roboto;
    font-size: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: #333333;
}

mat-radio-button {
    margin-right: 25px;
}

/* ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #dc6b2f!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #dc6b2f;
} */

button {
    font-family: Roboto;
    font-style:normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 4.07px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn {
    width: 176px;
    height: 40px;
}

.btn-cancelar {
    background: #ffffff;
    border: 1px solid #dc6b2f;
    color: #dc6b2f;
}

.btn-salvar {
    background-color: #dc6b2f;
    color: #ffffff;
}
