<div class="container">
    <h2>Dados das Propostas</h2>
    <div>
      <mat-card>
        <div>
          <b>{{propostas.length}} propostas</b>
        </div>
        <div class="mat-card-custom">
          <div>
            <b>Filtra por:</b>
            <mat-checkbox>VGBL</mat-checkbox> 
            <mat-checkbox>PGBL</mat-checkbox> 
          </div>
          <span>|</span> <b>Ordenar por: </b><a> Mais Antigas</a><mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </mat-card>
      <div *ngFor="let proposta of propostas">
        <app-proposta [proposta]="proposta"></app-proposta>
      </div>
    </div>
</div>