.container {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
    margin-bottom: 32px;
}

h2 {
    margin: 24px 0px 24px 24px;
}

mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #001E64;
    color: #ffffff;
}

.mat-card-custom {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}

.mat-card-custom div {
    margin-right: 16px;
}

.mat-card-custom div b {
    margin-right: 5px;
}

.mat-card-custom div mat-checkbox:first-child {
    margin-right: 16px;
}

.mat-card-custom span {
    margin-right: 16px;
}

.mat-card-custom b {
    margin-right: 5px;
}

mat-radio-button {
    margin-right: 25px;
}

@media screen and (max-width: 978px) {
    .container {
        margin: 0px 16px 0px 16px;
        margin-bottom: 24px; 
    }
}

