<div class="container-propostas">
    <h2>Dados das Propostas</h2>
    <div>
      <div class="card">
        <div>
          <b>{{propostas.length}} propostas</b>
        </div>

        <!-- Filtro para o mobile -->
        <div>
          <app-filter class="filter-mobile"></app-filter>          
        </div>
        <!-- /Filtro para o mobile -->
        
        <!-- Filtro o desktop -->
        <div class="filter-desktop">
          <div>
            <b>Filtra por:</b>
            <input type="checkbox" checked>
            <label>VGBL</label>

            <input type="checkbox" checked>
            <label>PGBL</label>
          </div>
          <span>|</span> <b>Ordenar por: </b><a> Mais Antigas</a><mat-icon>keyboard_arrow_down</mat-icon>
        </div>
        <!-- /Filtro o desktop -->

      </div>
      <div *ngFor="let proposta of propostas">
        <app-proposta [proposta]="proposta"></app-proposta>
      </div>
    </div>
</div>

<div>
  <app-button-footer></app-button-footer>
</div>