.container {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
    margin-bottom: 32px;
}

mat-radio-button {
    margin-right: 25px;
}

mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #001E64;
    color: #ffffff;
}

@media screen and (max-width: 978px) {
    .container {
        margin: 0px 16px 0px 16px;
        margin-bottom: 24px; 
    }
}
