<div class="container">
    <h2>Dados das Propostas</h2>
    <div>
      <mat-card>
        <div>
          <b>3 propostas</b>
        </div>
        <div class="mat-card-custom">
          <div>
            <b>Filtra por:</b>
            <mat-checkbox>VGBL</mat-checkbox> 
            <mat-checkbox>PGBL</mat-checkbox> 
          </div>
          <span>|</span> <b>Ordenar por: </b><a> Mais Antigas</a><mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </mat-card>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="mat-panel-title-custom">
              <div>
                <b style="color: #001E64;">Individual VGBL </b>80000440 | RODRIGO GLAUCIO | CEP: 1010-000 INÍCIO 20.01.2020 
              </div>
              <div *ngIf="!panelOpenState" class="mat-panel-title-custom">
                <mat-icon style="color: #DA5820">add_circle</mat-icon>
                <span style="color: #DA5820;">
                  Atualize seus dados 
                </span>
                <span>
                  Editar
                </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-formulario-proposta></app-formulario-proposta>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="mat-panel-title-custom">
              <div>
                <b style="color: #001E64;">Individual VGBL </b>80000440 | RODRIGO GLAUCIO | CEP: 1010-000 INÍCIO 20.01.2020 
              </div>
              <div *ngIf="!panelOpenState" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <span>
                  Editar
                </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-formulario-proposta></app-formulario-proposta>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="mat-panel-title-custom">
              <div>
                <b style="color: #001E64;">Individual VGBL </b>80000440 | RODRIGO GLAUCIO | CEP: 1010-000 INÍCIO 20.01.2020 
              </div>
              <div *ngIf="!panelOpenState" class="mat-panel-title-custom">
                <mat-icon style="color: #DA5820">add_circle</mat-icon>
                <span style="color: #DA5820;">
                  Atualize seus dados 
                </span>
                <span>
                  Editar
                </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-formulario-proposta></app-formulario-proposta>
        </mat-expansion-panel>
      </mat-accordion> 
    </div>
  </div>