.container {
    padding: 24px 24px 5px 24px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
    margin-bottom: 32px;
}

.mat-list-content-first {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 620px;
    margin-bottom: 16px
}

.mat-list-content-first > div {
    width: 50%;
}

.mat-list-content-first > div > mat-checkbox {
    margin-right: 55px;
}

.mat-list-content-first > div > mat-checkbox:last-child {
    margin: 0;
}

.mat-list-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.mat-list-content > div  {
    display: flex; 
    width: 310px;
}

.order1 {
    order: 0
}

.order2 {
    order: 1
}

.order3 {
    order: 2
}

@media screen and (max-width: 978px) {
    .container {
        margin: 0px 16px 24px 16px;
        padding: 16px 16px 0px 16px;
    }

    .mat-list-content-first {
        display: flex; 
        flex-direction: column; 
        height: 105px;
    }
    
    .mat-list-content-first > div {
        width: 100%;
    }

    .checkbox-group {
        margin-top: 16px;
    }
    
    .mat-list-content-first > div > mat-checkbox {
        margin-right: 20px;
    }
    
    .mat-list-content-first > div > mat-checkbox:last-child {
        margin: 0;
    }

    .mat-list-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 105px;
        margin-bottom: 16px;
    }
    
    .mat-list-content > div  {
        display: flex; 
        width: 100%;
    }

    .order1 {
        flex: 1;
        align-items: flex-start;
        order: 0
    }
    
    .order2 {
        order: 1;
        margin-top: 16px;
    }
    
    .order3 {
        flex: 1;
        order: 0
    }
}

.mat-list-content > div:last-child  {
    justify-content: flex-end;
}
