<div class="container-dados-basicos">
    <h2>Dados Básicos</h2>
    <div class="mat-list-content-first">
        <div>
            <b>Canais para Contato</b><br />
            <small>Escolha aqui a melhor opção para entrarmos em contato com você.</small>
        </div>
        <div class="checkbox-group">
            <!-- <mat-checkbox>SMS</mat-checkbox>
            <mat-checkbox>WhatsApp</mat-checkbox>
            <mat-checkbox>Email</mat-checkbox> -->
            <!-- <div> -->
                <input type="checkbox" checked>
                <label>SMS</label>
            <!-- </div>
            <div> -->
                <input type="checkbox" checked>
                <label>WhatsApp</label>
            <!-- </div>
            <div> -->
                <input type="checkbox" checked>
                <label>Email</label>
            <!-- </div> -->
        </div>
    </div>
    <hr />
    <div class="mat-list-content">
        <div class="order1">
            <b>Dados para o Token</b>
        </div>
        <div class="order2">
            <small>
                Informe seu e-mail e número de celular para enviarmos o <i>token</i> de acesso
                ao Prev-Invest Online.
            </small>
        </div>
        <div class="order3" routerLink="/token" >
            <app-router-link path="/token" title="Alterar Dados"></app-router-link>
        </div>
    </div>
    <hr />
    <div class="mat-list-content">
        <div class="order1">
            <b>Senha</b>
        </div>
        <div class="order2">
            <small>Atualize aqui a senha de acesso ao Prev-Invest Online.</small>
        </div>
        <div class="order3">
            <app-router-link path="/senha" title="Alterar Senha"></app-router-link>
        </div>
    </div>
    <hr />
    <div class="mat-list-content">
        <div class="order1">
            <b>Privacidade e proteção de dados.</b>
        </div>
        <div class="order2">
            <small>Saiba como a SulAmérica cuida da privacidade dos seus dados</small>  
        </div>
        <div class="order3" routerLink="/senha" >
            <app-router-link title="Acesse aqui"></app-router-link>
        </div>
    </div>
</div>
