<div class="container">
    <h2>Dados Básicos</h2>
    <div style="display: flex; flex-direction: row;">
        <div style="width: 310px;">
            <b>Canais para Contato</b>
        </div>
        <div style="width: 310px;">
            <mat-checkbox>SMS</mat-checkbox>
            <mat-checkbox>WhatsApp</mat-checkbox>
            <mat-checkbox>Email</mat-checkbox>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-list-content">
        <div style="width: 310px; display: flex; flex-direction: row;">
            <b>Dados para o Token</b>
        </div>
        <div style="width: 310px; display: flex; flex-direction: row;">
            <small>Telefone Ceular e email para recebimento do
                Token para entrada no portal PrevInvest
            </small>
        </div>
        <div style="width: 310px; display: flex; justify-content: flex-end;">
            <a routerLink="/token">
                Alterar Dados
                <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-list-content">
        <div style="width: 310px; display: flex; flex-direction: row;">
            <b>Senha</b>
        </div>
        <div style="width: 310px;">
            <small>*********</small>
            <small>Alterado pela última vez em 10.02.2020</small>
        </div>
        <div style="width: 310px; display: flex; justify-content: flex-end;">
            <a routerLink="/senha">
                Alterar Senha
                <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-list-content">
        <div style="width: 310px; display: flex; flex-direction: row;">
            <b>Gestão de Dados Pessoais</b>
        </div>
        <div style="width: 310px;">
            <small>Alterado pela última vez em 10.02.2020</small>  
        </div>
        <div style="width: 310px; display: flex; justify-content: flex-end;">
            <a routerLink="/">
                Acesse aqui
                <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
        </div>
    </div>
</div>
