<div class="container">
    <h2>Dados Básicos</h2>
    <div class="mat-list-content-first">
        <div>
            <b>Canais para Contato</b><br />
            <small>Este canais serão utilizados para xpto</small>
        </div>
        <div>
            <mat-checkbox>SMS</mat-checkbox>
            <mat-checkbox>WhatsApp</mat-checkbox>
            <mat-checkbox>Email</mat-checkbox>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-list-content">
        <div class="order1">
            <b>Dados para o Token</b>
        </div>
        <div class="order2">
            <small>Telefone Ceular e email para recebimento do
                Token para entrada no portal PrevInvest
            </small>
        </div>
        <div class="order3" routerLink="/token" >
            <app-router-link path="/token" title="Alterar Dados"></app-router-link>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-list-content">
        <div class="order1">
            <b>Senha</b>
        </div>
        <div class="order2">
            <small>*********</small>
            <small>Alterado pela última vez em 10.02.2020</small>
        </div>
        <div class="order3">
            <app-router-link path="/senha" title="Alterar Senha"></app-router-link>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-list-content">
        <div class="order1">
            <b>Gestão de Dados Pessoais</b>
        </div>
        <div class="order2">
            <small>Alterado pela última vez em 10.02.2020</small>  
        </div>
        <div class="order3" routerLink="/senha" >
            <app-router-link title="Acesse aqui"></app-router-link>
        </div>
    </div>
</div>
