<div class="container">
    <div>
        <h1>Meu Perfil</h1>
        <div class="content">
            <div>
                <h2>Redefinição de Senha</h2>
                <p>Lorem ipsum lorem ipsum</p>
            </div>
    
            <form action="">
                <div class="form-group">
                    <mat-form-field appearance="legacy">
                        <mat-icon matSuffix>remove_red_eye</mat-icon>
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
    
                    <mat-form-field appearance="legacy">
                        <mat-icon matSuffix>remove_red_eye</mat-icon>
                        <mat-label>Confirmação da Senha</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </div>
            </form>
        </div>
        <button-footer></button-footer>
    </div>
</div>