<div class="container-simulador">
    <header>
        <div>
            <strong>Dados da Simulação</strong>
            <span>
                Os valores podem sofrer alterações no dia do pagamento devido à rentabilidade
                diária dos fundos de investimentos.
            </span>
        </div>
        <div>
            <div>
                <strong>Proposta:</strong>
                <span>221344160</span>
            </div>
            <div>
                <strong>Data da Simulação:</strong>
                <span>02/03/2021</span>
            </div>
            <div>
                <strong>Saldo Disponivel:</strong>
                <span>595.003,07</span>
            </div>
            <div>
                <strong>Saldo Bloqueado:</strong>
                <span>0,00</span>
            </div>
            <div>
                <strong>Saldo Total:</strong>
                <span>595.003,07</span>
            </div>
        </div>
    </header>
    <div>
        <strong>Tipo de Simulação:</strong>
        <div>
            <input type="radio" id="total" name="tipoSimulacao" value="total" [checked]="true" (change)="isOpen = true">
            <label>Total</label>
        </div>
        <div>
            <input type="radio" id="parcial" name="tipoSimulacao" value="parcial" (change)="isOpen = false" >
            <label>Parcial</label>
        </div>
    </div>
    <div *ngIf="isOpen">
        <div>
            <label for="">Valor Bruto:</label>
            <input type="text">
        </div>
        <div>
            <label for="">Valor Líquido:</label>
            <input type="text">
        </div>
        <div>
            <button class="btn-limpar">Limpar</button>
            <button class="btn-simular">Simular</button>
        </div>
    </div>
    <div *ngIf="!isOpen" class="container-fundos">
        <table>
            <tr>
                <th>Categoria Fundo</th>
                <th>Fundo</th>
                <th>Saldo</th>
                <th>Valor Resgate</th>
                <th>Simular</th>
            </tr>
            <tr>
                <td>Renda Fixa</td>
                <td>SULAMERICA FIX 100 VI FI RENDA FIXA</td>
                <td>593.864,70</td>
                <td><input type="text"></td>
                <td>
                    <button class="btn-simular-green" (click)="isResultadosOpen = !isResultadosOpen">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button class="btn-simular-green" (click)="isResultadosOpen = !isResultadosOpen">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Renda Variável</td>
                <td>SULAMEIRCA MIX 49 FI MULTIMERCADO</td>
                <td>1.938,37</td>
                <td><input type="text"></td>
                <td>
                    <button class="btn-simular-green" (click)="isResultadosOpen = !isResultadosOpen">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Renda Variável</td>
                <td>SULAMEIRCA MIX 49 FI MULTIMERCADO</td>
                <td>1.938,37</td>
                <td><input type="text"></td>
                <td>
                    <button class="btn-simular-green" (click)="isResultadosOpen = !isResultadosOpen">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                </td>
            </tr>
            <tr>
                <td><span>Renda Variável</span></td>
                <td><span>SULAMEIRCA MIX 49 FI MULTIMERCADO</span></td>
                <td><span>1.938,37</span></td>
                <td><input type="text"></td>
                <td>
                    <button class="btn-simular-green" (click)="isResultadosOpen = !isResultadosOpen">
                        <mat-icon>check_circle_outline</mat-icon>
                    </button>
                </td>
            </tr>
        </table> 
        <div>
            <button class="btn-limpar" (click)="isResultadosOpen = false">Limpar</button>
            <button class="btn-simular" (click)="isResultadosOpen = true">Simular</button>
        </div>
    </div>
    <div *ngIf="isResultadosOpen" class="resultados-simulador">
        <div>
            <strong>Valor simulador:</strong>
            <span>221344160</span>
        </div>
        <div>
            <strong>Valor base da IR:</strong>
            <span>02/03/2021</span>
        </div>
        <div>
            <strong>Imposto de Renda:</strong>
            <span>595.003,07</span>
        </div>
        <div>
            <strong>Valor Líquido:</strong>
            <span>0,00</span>
        </div>
        <div>
            <strong>Rendimento tributário:</strong>
            <span>595.003,07</span>
        </div>
        <div>
            <strong>Rendimento:</strong>
            <span>595.003,07</span>
        </div>
        <div>
            <strong>Percentual Imposto de Renda:</strong>
            <span>595.003,07</span>
        </div>
        <div>
            <button>Resgatar</button>
        </div>
    </div>
</div>