.panel {
  background-color: #ffffff;
  width: 100%;
}

.panel-header {
  display: flex;
  height: 50px;
}

.panel-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colapse {
  display: flex;
  flex: 1; 
  flex-wrap: wrap;
  background: rgba(0, 30, 100, 0.05);
}

.align-item {
  display: flex;
  justify-content: center;
  align-items: center;
}