<div class="panel pointer-cursor" *ngFor="let proposta of propostas">
    <div class="panel-header" [class.panel-active]="proposta.opened" (click)="proposta.opened = !proposta.opened">
        <div>
            <b>{{proposta.nome}}</b>
        </div>
        <div>
            <span>{{proposta.codigo}} | </span>
            <span>{{proposta.titular}} | </span>
            <span>{{proposta.cep}}</span>
            <span>{{proposta.data}}</span>
        </div>
        <div class="orange">
            <mat-icon>add_circle</mat-icon>
            <span>
                Atualize seus dados 
            </span>
        </div>
        <div *ngIf="proposta.opened">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </div>
        <div *ngIf="!proposta.opened">
            <span>Editar</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
    </div>
    <div class="colapse" *ngIf="proposta.opened">
        <app-proposta-detail [class.panel-active]="proposta.opened"></app-proposta-detail>
    </div>
    <mat-divider></mat-divider>
</div>



  