.panel {
  background-color: #ffffff;
  width: 100%;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 28px 0 28px;
}

.panel-header > * {
  display: flex;
  justify-content: center;
  align-items: center; 
}

/* .panel-header div:nth-of-type(4) {
  flex: 1;
  justify-content: flex-end;
} */

.colapse {
  display: flex;
  flex: 1; 
  flex-wrap: wrap;
}

.align-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-active {
  background: rgba(0, 30, 100, 0.05);
}

.panel-active-text {
  color: #001E64;
  font-weight: bold;
}

app-proposta-detail {
  padding: 0 28px 0 28px;
}

@media screen and (max-width: 470px) {
  .panel-header {
    height: 117px;
    padding: 0 16px 0 16px;
    flex-wrap: wrap;
  }
  
  .order1 {
    order: 0;
  }
  
  .order2 {
    order: 0;
  }

  .order3 {
    order: 1;
  }

  .order4 {
    order: 2;
  }

  .order5 {
    order: 3;
  }
}

/* @media screen and (min-width: 469px) and (max-width: 490px){
  .panel-header {
    height: 117px;
    padding: 0 16px 0 16px;
    flex-wrap: wrap;
  }
  
  .order1 {
    order: 0;
  }
  
  .order2 {
    order: 2;
  }

  .order3 {
    order: 1;
  }

  .order4 {
    order: 3;
  }

  .order5 {
    order: 4;
  }
} */