.container-resgate {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container-resgate > div {
    width: 978px;
    height: 995px;
    padding: 32px 24px 0px 24px;
    background: #FAFAFA;
    
}

.card {
    display: flex;
    align-items: center;
    height: 40px;
    background: #001E64;
    color: #ffffff;
    padding: 0 24px 0 24px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.card div {
    margin-right: 1rem;
}

.content-resgate {
    display: flex;
    flex: 1;
    padding: 0 24px 0 24px;
    margin-bottom: 2rem;
}

