.container-resgate {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container-resgate > div {
    width: 978px;
    height: 995px;
    padding: 32px 2rem 0px 2rem;
    background: #FAFAFA;
    
}

.card {
    display: flex;
    align-items: center;
    height: 46px;
    background: #001E64;
    color: #ffffff;
    padding: 0 2rem 0 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.card div {
    margin-right: 1rem;
}

.card > strong {
    font-size: 1.2rem;
}

.content-resgate {
    display: flex;
    flex: 1;
    padding: 0 2rem 0 2rem;
    margin-bottom: 2rem;
}

