<div class="container">
    <h2 style="margin: 24px 0px 24px 24px;">Dados das Propostas</h2>
    <div>
      <mat-card>
        <div>
          <b>3 propostas</b>
        </div>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
          <div style="margin-right: 15px;">
            <b style="margin-right: 5px;">Filtra por:</b>
            <mat-checkbox style="margin-right: 15px;">VGBL</mat-checkbox> 
            <mat-checkbox>PGBL</mat-checkbox> 
          </div>
          <span style="margin-right: 15px;">|</span> <b style="margin-right: 5px;">Ordenar por: </b><a> Mais Antigas</a><mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </mat-card>
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title style="display: flex; flex-direction: row; justify-content: space-between;">
              <div>
                <b style="color: #001E64;">Individual VGBL </b>80000440 | RODRIGO GLAUCIO | CEP: 1010-000 INÍCIO 20.01.2020 
              </div>
              <div *ngIf="!panelOpenState" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <mat-icon style="color: #DA5820">add_circle</mat-icon>
                <span style="color: #DA5820; margin-right: 5px;">
                  Atualize seus dados 
                </span>
                <span>
                  Editar
                </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-formulario-proposta></app-formulario-proposta>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title style="display: flex; flex-direction: row; justify-content: space-between;">
              <div>
                <b style="color: #001E64;">Individual VGBL </b>80000440 | RODRIGO GLAUCIO | CEP: 1010-000 INÍCIO 20.01.2020 
              </div>
              <div *ngIf="!panelOpenState" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <span>
                  Editar
                </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-formulario-proposta></app-formulario-proposta>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title style="display: flex; flex-direction: row; justify-content: space-between;">
              <div>
                <b style="color: #001E64;">Individual VGBL </b>80000440 | RODRIGO GLAUCIO | CEP: 1010-000 INÍCIO 20.01.2020 
              </div>
              <div *ngIf="!panelOpenState" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                <mat-icon style="color: #DA5820">add_circle</mat-icon>
                <span style="color: #DA5820; margin-right: 5px;">
                  Atualize seus dados 
                </span>
                <span>
                  Editar
                </span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-formulario-proposta></app-formulario-proposta>
        </mat-expansion-panel>

        <button #123
          style="width: 100%; height: 50px"
          >
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
              <b style="color: #001E64;">Individual VGBL </b>80000440 | RODRIGO GLAUCIO | CEP: 1010-000 INÍCIO 20.01.2020 
            </div>
            <div *ngIf="!panelOpenState" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
              <mat-icon style="color: #DA5820">add_circle</mat-icon>
              <span style="color: #DA5820; margin-right: 5px;">
                Atualize seus dados 
              </span>
              <span>
                Editar
              </span>
            </div>
          </div>
        </button>

        <div #form_>
          <app-formulario-proposta></app-formulario-proposta>
        </div>

      </mat-accordion> 
    </div>
  </div>