<form action="">
    <div class="form-group-proposta">
      <div>
        <b>Dados para Contato</b><br />
        <div style="display: flex;">
          <div>
            <label for="">Número de contato</label>
            <input placeholder="" class="input-contato" type="text">
          </div>
    
          <div>
            <label for="">Email</label>
            <input class="input-email" type="text">
          </div>
        </div>
      </div>

      <div>
        <b>Dados Bancários</b><br />
        <div style="display: flex;">
          <div>
            <label for="">Banco</label>
            <input placeholder="asdasdasdasdas" type="text">
          </div>
    
          <div>
            <label for="">Agência</label>
            <input type="text">
          </div>

          <div>
            <label for="">Conta</label>
            <input type="text">
          </div>
        </div>
      </div>
    </div>
    
    <b>Endereço de Correspondência</b><br />
    <div class="form-group-proposta">
      <div>
        <div style="display: flex;">
          <div>
            <label for="">CEP</label>
            <input placeholder="" type="text">
          </div>
    
          <div>
            <label for="">Cidade</label>
            <input type="text">
          </div>
        </div>
      </div>

      <div>
        <div style="display: flex;">
          <div>
            <label for="">Rua</label>
            <input placeholder="asdasdasdasdas" type="text">
          </div>
    
          <div>
            <label for="">Número</label>
            <input type="text">
          </div>
        </div>
      </div>
    </div>

    <input type="checkbox">
    <label>Quero adicionar estes dados como principal para todas as minhas propostas</label>
  </form>