<form action="">
    <div class="form-group-proposta">
      <mat-form-field appearance="legacy" style="width: 167px;">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-label>Número de contato</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="width: 264px;">
        <mat-icon matSuffix>email</mat-icon>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" style="width: 134px;">
        <mat-label>Banco</mat-label>
        <mat-select>
          <mat-option value="two">001 Banco do Brasil S.A.</mat-option>
          <mat-option value="one">033 Banco Santader S.A.</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 104px;">
        <mat-label>Agência</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
  
      <mat-form-field class="example-full-width" style="width: 104px;">
        <mat-label>Conta</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
    </div>
    
    <div class="form-group">
      <mat-form-field class="example-full-width" style="width: 166px;">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
  
      <mat-form-field class="example-full-width" style="width: 266px;">
        <mat-label>Cidade</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 219px;">
        <mat-label>Rua</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>
  
      <mat-form-field class="example-full-width" style="width: 129px;">
        <mat-label>Número</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>

      <input type="checkbox" checked>
      <label>Quero adicionar estes dados como principal para todas as minhas propostas</label>
    </div>
  </form>