<form action=""  [formGroup]="form">
    <div class="form-group-proposta">
      <div>
        <b>Dados para Contato</b><br />
        <div formGroupName="dadosContato" style="display: flex;">
          <div style="margin-right: 8px;">
            <label for="">Número de contato</label>
            <input formControlName="numero" class="input-contato" type="text" required>
          </div>
    
          <div>
            <label for="">Email</label>
            <input formControlName="email" class="input-email" type="text">
          </div>
        </div>
      </div>

      <div>
        <b>Dados Bancários</b><br />
        <div formGroupName="dadosBancarios" style="display: flex;">
          <div style="margin-right: 8px;">
            <label for="">Banco</label>
            <input formControlName="banco" placeholder="" type="text">
          </div>
    
          <div style="margin-right: 8px;">
            <label for="">Agência</label>
            <input formControlName="agencia" type="text">
          </div>

          <div>
            <label for="">Conta</label>
            <input formControlName="conta" type="text">
          </div>
        </div>
      </div>
    </div>
    
    <b>Endereço de Correspondência</b><br />
    <div class="form-group-proposta">
      <div>
        <div style="display: flex;">
          <div style="margin-right: 8px;">
            <label for="">CEP</label>
            <input (change)="filterCep()" placeholder="" type="text" formControlName="cep">
          </div>
    
          <div>
            <label for="">Cidade</label>
            <input type="text" formControlName="cidade">
          </div>
        </div>
      </div>

      <div>
        <div style="display: flex;">
          <div style="margin-right: 8px;">
            <label for="">Rua</label>
            <input type="text" formControlName="logradouro">
          </div>
    
          <div>
            <label for="">Número</label>
            <input type="text" formControlName="numero">
          </div>
        </div>
      </div>
    </div>

    <input type="checkbox">
    <label>Quero adicionar estes dados como principal para todas as minhas propostas</label>

    <p>
      Form Status: {{ form.status }}
    </p>
  </form>