<div class="container">
    <div>
        <h1>Meu Perfil</h1>
        <div class="content">
          <h2>Redefinição dos Dados para o Token</h2>
          <p>Lorem ipsum lorem ipsum</p>
    
            <form action="">
                <div class="form-group">
                    <mat-form-field appearance="legacy" class="input-contato">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-label>Número de contato</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
    
                    <mat-form-field appearance="legacy" class="input-senha">
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                </div>
            </form>
        </div>
    
        <button-footer></button-footer>
    </div>  
</div>