.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container > div {
    width: 978px;
    height: 995px;
    padding: 32px 24px 0px 24px;
    background: #FAFAFA;
}

.content {
    padding: 24px 24px 42px 24px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 7px;
    margin-bottom: 32px;
}

h1 {
    color: #061B50;   
}

h2 {
    height: 24px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #061B50;
}

.container p {
    height: 24px;
    font-family: Roboto;
    font-size: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: #333333;
}

.form-group > * {
    margin-right: 15px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-cancelar {
    background: #ffffff;
    border: 1px solid #dc6b2f;
    color: #dc6b2f;
}

.btn-salvar {
    background-color: #dc6b2f;
    color: #ffffff;
}

