/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2 {
    color: #061B50;   
}

a {
    cursor: pointer;
}

p {
    color: #333333;
}

button {
    font-family: Roboto;
    font-style:normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 4.07px;
}

.pointer-cursor {
    cursor: pointer;
}

.orange {
    color: #DA5820;
}
